@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated == true)
        {
            <p>You have been successfully logged out of the application.</p>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
